s<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Sữa</title>
    <link rel="stylesheet" href="/css/giaodienbase.css">
    <link rel="stylesheet" href="/css/giaodienmain.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesnameheet" href="/font/themify-icons-font (1)/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header_nav ">
                    <ul class="header_nav-list ">
                        <li class="header_nav-item header_nav-item-hasQR header_nav-item-separate"> Vào Cửa Hàng Quán Sữa
                            <!-- <div class="header_nav-QR">
                               <img src="/img/img/QR_code.png" alt="QR_code" class="header_nav-img">
                               <div class="header_nav-QR-apps">
                                <a href="" class="header_nav-QR-link">
                                    <img src="/img/img/GooglePlay.png "alt="Google Play" class="header_nav-QR-dow-img">
                                </a>
                                <a href="" class="header_nav-QR-link"> 
                                    <img src="/img/img/Appstore.png" alt="App Store" class="header_nav-QR-dow-img">
                                </a>
                               </div>
                            </div> -->
                        </li>
                        <li class="header_nav-item"> 
                            <span class="header_nav_item-nopointer">Kết Nối</span> 
                            <a href="https://www.facebook.com/gavl2k3" class="header_nav-icon">
                                <!-- <i class="header_nav-icon-link ti-facebook"></i> -->
                                <i class="fa-brands fa-facebook header_nav-icon-link"></i>
                            </a>
                            <a href="https://www.instagram.com/anhhnfe_108/?theme=dark" class="header_nav-icon">
                                <!-- <i class="header_nav-icon-link ti-instagram"></i> -->
                                <i class="fa-brands fa-instagram header_nav-icon-link"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header_nav-list ">
                        <li class="header_nav-item">
                            <a href="" class="header_nav-item-list">
                            <a href="" class="header_nav-icon"></a>
                                <i class="header_nav-icon-link ti-bell"></i>
                             Thông Báo
                            </a>
                            <div class="header_notify">
                                <header class="header_notify-header">
                                    <h3> Thông Báo Mới Nhận</h3>
                                </header>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="header_notify-list">
                                    <div class="header_notify-item">
                                        <a href="" class="header_notify-link">
                                            <span>
                                                <img src="/img/ensure.webp" alt="" class="header_notify-img">
                                            </span>
                                            <div class="header_notify-info">
                                                <p class="header_notify-name">
                                                    Tặng ngay 1 lon khi mua 3 lon
                                                </p>
                                                <p class="header_notify-descriotion">
                                                    Khuyến Mãi Siêu Hot
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                         
                                <footer class="header_notify-footer">
                                    <a class="header_notify-footer-btn">
                                        Xem Tất Cả
                                    </a>
                                </footer>
                            </div>
                        </li>
                        <li class="header_nav-item">
                            <a href="" class="header_nav-item-list">
                            <a href="" class="header_nav-icon"></a>
                                <i class="header_nav-icon-link ti-help-alt"></i>
                            Trợ Giúp</a>
                        </li>
                        <li class="header_nav-item header_nav-item-strong header_nav-item-separate register-js-modal"> <a href="/regsiter-milk" class="login">Đăng Ký</a></li>
                        <li class="header_nav-item header_nav-item-strong login-js-modal"> <a href="/login-milk" class="login">Đăng Nhập</a></li> 
                    </ul>
                </nav>

                <div class="header-withs-search">
                    <div class="header__logo">
                      Bibo Mart 
                    </div>
                    <div class="header__search">
                        <div class="header__search-input-warp">
                            <input type="text" class="header__search-input" placeholder="Nhập Để Tìm Kiếm Sản Phẩm">
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">
                                    Lịch Sử Tìm Kiếm
                                </h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="">Sữa Ông Thọ</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Sữa Ensure</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-selection">
                            <!-- <span class="header__search-selection-lable">Trong Shop</span>
                            <i class="header__search-selection-icon fa-solid fa-chevron-down"></i> -->

                            <ul class="header__search-option">
                                <li class="header__search-option-item">
                                    <span class="header__search-option-btn">Trong Shop </span>
                                    <i class="header__search-option-icon fa-solid fa-check"></i>
                                </li>
                                <li class="header__search-option-item">
                                    <span class="header__search-option-btn">Ngoài Shop </span>
                                    <i class="header__search-option-icon fa-solid fa-check"></i>
                                </li>
                            </ul>
                            
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="header__Cart">
                        <div class="header__Cart-wrap">
                            <i class="header__Cart-icon fas fa-cart-shopping"></i>
                          
                            <div class="header__Cart-list header__Cart-list--no-cart">
                                <!-- <img src="assets/img/QR_code.png" alt="" class="header__Cart-no-cart-img"> -->
                                <span class="header__Cart-list-no-cart-msg">
                                    Chưa Có Sản Phẩm
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>
        <div class="err">
            Bạn Cần Phải Đăng Nhập Thì Mới Thực Hiện Được Thao Tác Này!!!!
        </div>
        <div class="slider slider-real">
            <div class="slider-img-1">
                <img src="img/img1.png" alt="">
            </div>
            <div class="slider-img-2">
                <img src="img/img2.png" alt="">
            </div>
            <div class="slider-img-3">
                <img src="img/img3.png" alt="">
            </div>
        </div>
        
        <div class="constainer real">
           
                <!-- <div class="clear"></div> -->
            <div class="grid constainer-grid">
              <div class="grid__row">
                 
                    <div class="grid__column-100">
                        <div class="constainer_Product">
                            <div class="constainer_filter-header">
                                <div class="constainer_filter-header-list">
                                    <span class="constainer_filter-label">
                                        Sắp Xếp Theo
                                    </span>
                                    <button class="constainer_filter-btn">
                                        Nổi Bật
                                    </button>
                                    <button class="constainer_filter-btn">
                                        Mới Nhất
                                    </button>
                                    <button class="constainer_filter-btn">
                                        Sữa Mua Nhiều Nhất
                                    </button>
                                    <!-- <div class="constainer_filter-price">
                                        Gói Nạp
                                        <i class="fa-solid fa-chevron-down"></i>
                                        <div class="filter-price-list">
                                            <div class="filter-price-btn">Nạp Gói: Gói Chơi Theo Tháng</div>
                                            <div class="filter-price-btn">Nạp Gói: Gói Chơi Theo Năm</div>
                                        </div>
                                    </div> -->
                                </div>
                               
                            </div>
                        
                            <div class="constainer_Product-list-item">
                               
                                 <div class="grid__row menu default-menu">
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/ensure.webp)"></div>
                                                <h4 class="home__Product-item-name">Sữa EnSunre
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 500.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/suaongtho.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa Ông Thọ
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 20.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button id="information" class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                           
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/sua-high-weight.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa HiWeight
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 700.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/Anlene)"></div>
                                                <h4 class="home__Product-item-name">Sữa AnLene
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 300.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/grow.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa Grow
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 299.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/diasure.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa DiaSure
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 600.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/doron.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa DoRon
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 500.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/sua-dac-daily-con-bo-sua-1629281369.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa Daily
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 50.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(/img/sua-bot-vinamilk-sure-prevent-hop-thiec-900gr.jpg)"></div>
                                                <h4 class="home__Product-item-name">Sữa Vinamilk
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 190.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                    <div class="grid__column-2-10">
                                        <div class="home__Product-item">
                                          
                                            <div class="home__Product-item-img" style="background-image: url(img/truongsinh)"></div>
                                                <h4 class="home__Product-item-name">Sữa Trường Sinh
                                                </h4>
                                                <div class="home__Product-item-sale">

                                                    <h5 class="home__Product-item-money-1"> 25.000đ
                                                    </h5>
                                                </div>
                                                <!-- <div class="home__Product-item-Information">
                                                    <h5 class="home__Product-item-information-name">570.000VND </h5>
                                                    <h5 class="home__Product-item-information-name">Sữa Bột</h5>
                                                    <h5 class="home__Product-item-information-name"> 370 gr</h5>
                                                </div> -->
                                                
                                                <div class="home__Product-item-origin">
                                                <button class="playgame buy-now">Mua Ngay</button>
                                                <button id="information" type="submit" class="playgame information"> Thông Tin</button>
                                                </div>
                                                <div class="home__Product-item-favourite">
                                                    <i class="fa-solid fa-check"></i>
                                                <span>Yêu Thích</span>
                                                </div>
                                                <div class="home__Product-item-sale-off">
                                                    <span class="home__Product-item-sale-off-precent">
                                                        10%
                                                    </span>
                                                    <span class="home__Product-item-sale-off-lable">
                                                        GIẢM
                                                    </span>
                                                </div>
                                        
                                                
                                        </div>
                                        
                                    </div>
                                </div>
                             
                            </div>
                            
                        </div>
                    </div>
              </div>
              
            </div>
        </div>
        <footer class="footer">
             <div class="party__wall">
            </div>
            <div class="grid">

            
            <div class="footer_Information grid__column-100">
                <div class="grid__column-2-10">
                        <div class="footer_content">
                            <div class="content-heading">Chăm Sóc Khách Hàng</div>
                            <li class="content-list-name"><a href="" class="content-list-link">Trợ Giúp Khách Hàng</a></li>
                            <li class="content-list-name"><a href="" class="content-list-link">Hướng Dẫn Mua Hàng</a></li>
                        </div>     
                </div>
                <div class="grid__column-2-10">
                    <div class="footer_content">
                        <div class="content-heading">Giới Thiệu</div>
                        <li class="content-list-name"><a href="" class="content-list-link">Giới Thiệu</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">Tuyển Dụng</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">Điều Khoản</a></li>
                    </div>     
                </div>
                <div class="grid__column-2-10">
                    <div class="footer_content">
                        <div class="content-heading">Theo Dõi Chúng Tôi</div>
                        <li class="content-list-name"><a href="" class="content-list-link "> 
                            <i class=" fa-brands fa-facebook footer-logo-social-network"></i>
                            FaceBook</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link ">
                            <i class=" fa-brands fa-instagram footer-logo-social-network"></i>
                            Instagram</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">
                            <i class=" fa-brands fa-linkedin footer-logo-social-network"></i>
                            Linkedin</a></li>
                    </div>     
                </div>
                <div class="grid__column-2-10">
                    <div class="footer_content">
                        <div class="content-heading">Các Mặt Hàng Sữa</div>
                        <li class="content-list-name"><a href="" class="content-list-link">Sữa Bọt</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">Sữa Tươi</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">Sữa Động Vật</a></li>
                        <li class="content-list-name"><a href="" class="content-list-link">Sữa Béo</a></li>
                    </div>     
                </div>
             
            </div>
        </div>
        <div class="grid__row">
            <p class="footer-text">
                © 2020 Bản quyền thuộc về cá nhân Nguyễn Công Anh - Website được tạo ra vì mục đích học tập, không vì mục đích thương mại
            </p>
        </div>
        </footer>
     
     
    </div>
    <!-- <script src="/js/dangnhapweb.js"></script> -->
    <script>
        // Đảm bảo bạn đã đặt các biến cho các phần tử HTML đúng cách

// function regsiter(options){
//    var formRegsiter =document.querySelector(options.form);
//    function validate(inputRegsiter,rule){
//     var errorMessage = rule.test(inputRegsiter.value);
//     var errorRegsiter = inputRegsiter.parentElement.querySelector(options.errorSelector);
//                 if(errorMessage){
//                     errorRegsiter.innerText =errorMessage;
//                     inputRegsiter.classList.add('invalid');
//                 }
//                 else{
//                     errorRegsiter.innerText='';
//                     inputRegsiter.classList.remove('invalid');
//                 }
//    }
//     if(formRegsiter){
//         options.rules.forEach(function(rule){
//             var inputRegsiter = formRegsiter.querySelector(rule.selector);
//             if(inputRegsiter){
//                 inputRegsiter.onblur = function(){
//                     validate(inputRegsiter,rule);
//                 }
//                 inputRegsiter.oninput = function(){
//                 var errorRegsiter = inputRegsiter.parentElement.querySelector(options.errorSelector);
//                 errorRegsiter.innerText='';
//                 inputRegsiter.classList.remove('invalid');
//             }
//            }
//         })
//     }
// }
// regsiter.isRequired= function(selector){
//     return {
//         selector:selector,
//         test : function(value){
//             return value.trim() ? undefined :'Vui Lòng Nhập Trường Này';
//     }
//     }
// }
// regsiter.minLength = function(selector,min){
//     return{
//         selector: selector,
//         test: function(value){
//             return value.length >= min ? undefined: `Vui Lòng Nhập Tối Thiểu ${min} kí tự`;
//         }
//     }
// }
// regsiter.isConfirm = function(selector,getConfirmValue){
//     return{
//         selector: selector,
//         test: function(value){
//             return value === getConfirmValue() ? undefined: 'Giá trị nhập vào không chính xác';
//         }
//     }
// }


document.addEventListener("DOMContentLoaded", function () {
    const sliderImages = document.querySelectorAll(".slider > div");
    let currentIndex = 0;
    const intervalTime = 3000; // Thời gian hiển thị mỗi hình ảnh (3 giây).
    let sliderInterval;

    function showImage(index) {
        sliderImages[currentIndex].style.display = "none";
        sliderImages[index].style.display = "block";
        currentIndex = index;
    }

    function nextImage() {
        const nextIndex = (currentIndex + 1) % sliderImages.length;
        showImage(nextIndex);
    }

    function startSlider() {
        sliderInterval = setInterval(nextImage, intervalTime);
    }

    function stopSlider() {
        clearInterval(sliderInterval);
    }

    startSlider(); // Bắt đầu slider tự động khi trang web tải lên.
});


// thông báo cần phải đăng nhập  const isUserLoggedIn = false; // Change to true if the user is logged in

var informationButtons = document.querySelectorAll("#information");
// console.log(informationButtons)
var errDiv = document.querySelector(".err");
informationButtons.forEach(function (informationButton) {
    informationButton.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Add the "active" class to slide in the error message
        errDiv.classList.add("active");

        // Use setTimeout to remove the "active" class after 3 seconds
        setTimeout(function () {
            errDiv.classList.remove("active");
        }, 3000);
    });
    informationButton.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default form submission
        var errDiv = document.querySelector(".err");
        errDiv.style.display = "block"; // Display the error message
        setTimeout(function () {
            errDiv.style.display = "none"; // Hide the error message after 5 seconds
        }, 3000);
    });
});
</script>
</body>
</html>
