*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 130px;
}
.header-bar{
    display: flex;
    justify-content: space-between;
    background-color: #89CFF3;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
}
.headding{
    line-height: 40px;
    font-size: 26px;
}
.row-title{
    background-color: #B2C8BA;
}
.main{
    width: 78%;
    margin: auto;
}
.shopping-cart{
    width: 100%;
    border-collapse: collapse;
    border-color: black;
}

.shopping-cart tr th{
    padding: 12px 0;
    font-size: 20px;
}
.shopping-cart tr td{
    padding: 8px;
    font-size: 18px;
    text-align: center;

}
.row:hover{
    background-color: #ccc;

}
.quantity{
    width: 40px;
    text-align: center;
    border-style: none;
}